<div layout="column">
  <md-content layout-padding>
    <h2>{{exampleForm.title}}</h2>
    <span ng-transclude></span>
    <div>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Company</label>
            <input ng-model="exampleForm.company">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input ng-model="exampleForm.firstName">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="exampleForm.lastName">
          </md-input-container>
        </div>
        <md-button class="md-raised md-primary" ng-click="exampleForm.submit()">Submit</md-button>
    </div>
  </md-content>
</div>